spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce
    username: root
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

server:
  port: 8080
